body{
    background-color:darkcyan;
}

h2{
    position: absolute;
    left:594px;
    margin-top: 0px;
    font-family: 'Dosis', sans-serif;
    width:180px;
    height:45px;
    color:orange;
    background-color: black;
    text-align: center;
    padding:10px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px orange;
}

hr{
    position: absolute;
    top:25px;
    height: 2px;
    width:1350px;
    background-color: black;
    border: none;
}

.main_div{
    position: absolute;
    top:100px;
    left:200px;
    width:964px;
    border-radius: 10px;;
}

#grid_div{
    background-color:darkgreen;
    height:400px;
}

.grid{
    width:280px;
    height:100px;
    background-color:gray;
    box-shadow: 0px 0px 2px 5px black;
    text-align: center;
    color:black;
    font-family: 'Agency FB';
    cursor: pointer;
    font-size: xx-large;
    
}

.grid:hover{
    background-color:orange;
}

#prime_number{
    position: absolute;
    top:30px;
    left:30px;   
    
}

#factorial_number{
    position: absolute;
    top:30px;
    left:342px;    
}

#square_root{
    position: absolute;
    top:30px;
    left:654px;
}

#binary_number{
    position: absolute;
    top:162px;
    left:30px;
}

#hexadecimal_number{
    position: absolute;
    top:162px;
    left:342px;
}

#octal_number{
    position: absolute;
    top:162px;
    left:654px;
}

#help{
    position: absolute;
    top:35px;
    font-size:medium;
    font-family: 'Agency FB';
    font-weight: bold;
    cursor: pointer;
    background-color:black;
    color:lightgray;
    box-shadow: 0px 0px 2px 2px black;
    border-radius: 2px;
}

#help:hover{
    color:orange;
}

#help_div{
    background-color: black;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height:400px;
}

#heading_span{
    padding-top: 50px;
    color:orange
}

.btn{
    background-color:indigo;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0px 0px 2px 2px gray;
}

#home_button{
    position: relative;
    top:50px;
    width:150px;
    height:40px;
}