body{
    background-color:black;
}

#back_ground{
    position: absolute;
    top:33px;
    left:280px;
    width:810px;
    height:570px;
    border-radius: 0px 10px 10px 10px;
    border:2px solid orange;
}

h2{
    position: absolute;
    left:594px;
    margin-top: 0px;
    font-family: 'Dosis', sans-serif;
    width:180px;
    height:45px;
    color:orange;
    background-color: black;
    text-align: center;
    padding:10px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px orange;
}

.main_div{
    position: absolute;
    top:100px;
    left:320px;
    width:730px;
    border-radius: 10px;;
}

#grid_div{
    background-color:darkgreen;
    height:450px;
    
}

.grid{
    width:210px;
    height:100px;
    background-color:gray;
    box-shadow: 0px 0px 2px 5px black;
    text-align: center;
    color:black;
    font-family: 'Agency FB';
    cursor: pointer;
    font-size:x-large;
    border-radius: 10px;;
}

.grid:hover{
    background-color:orange;
}

#prime_number{
    position: absolute;
    top:30px;
    left:30px;   
    
}

#factorial_number{
    position: absolute;
    top:30px;
    left:260px;    
}

#square_root{
    position: absolute;
    top:30px;
    left:490px;
}

#binary_number{
    position: absolute;
    top:162px;
    left:30px;
}

#hexadecimal_number{
    position: absolute;
    top:162px;
    left:260px;
}

#octal_number{
    position: absolute;
    top:162px;
    left:490px;
}

#leap_year{
    position: absolute;
    top:292px;
    left:30px;
    width:670px;
}

#help{
    position: absolute;
    top:32px;
    left:229px;
    font-size:x-large;
    font-family: 'Agency FB';
    font-weight: bold;
    cursor: pointer;
    background-color:orange;
    color:black;
    width: 50px;
    height:50px;
    border-right: none;
    border-radius: 15px 0px 0px 15px;
}

#help:hover{
    box-shadow: 0px 0px 2px 2px gray;
}

#help_div{
    background-color: black;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:400px;
    width:720px;
    left:330px;
    font-size:14px;
    visibility: hidden;
}

.btn{
    background-color:indigo;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0px 0px 2px 2px gray;
}

#home_button{
    position: absolute;
    top:350px;
    left:285px;
    width:150px;
    height:40px;
}

#footer{
    position: absolute;
    top:570px;
    left:590px;
    background-color:darkorange;
    color: black;
    width:175px;
    height:17px;
    font-family: 'Courier New';
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}